# Challenge Tecnico de SQL

**Objetivos:** 

* Realizar consultas en SQL, interactuando con una base de datos alojada en un servidor de base de datos PostgreSQL. 

En este challenge vamos a partir de una base de datos de películas con datos [obtenidos del sitio IMDB]()

**Entrega:** Realizar todas las actividades que se describen en este notebook. Si es necesario, se pueden agregar más celdas tanto de tipo markdown como código. Entregar el notebook modificado que refleje el trabajo realizado por el grupo, incluyendo respuestas, explicaciones y el código generado.

# 1. Descripción de la realidad 

En este challenge trabajaremos sobre un subconjunto de la base de datos del sitio IMDB. Los datos utilizados son un subconjunto de los disponibles [aquí](https://www.imdb.com/interfaces/).

Esta base almacena, entre otras cosas, información sobre películas. 
De las películas se conoce un identificador, un nombre, su fecha de estreno, el promedio de votos, el presupuesto destinado a su realización y los ingresos obtenidos, entre otros atributos. Las películas pueden referenciarse entre si (por ejemplo cuando una es una *remake* o un *spin off* de otra). Se sabe entonces qué película referencia a otras y el tipo de la referencia. Todas las películas tienen al menos un género asociado, del cual se conoce, además de su identificador, un nombre.

Algunas películas se agrupan en sagas. De las sagas de películas, se registra un identificador, un nombre y la fecha de estreno de la última película que pertence a la saga. 

Por último se conocen las personas que trabajan en las películas. De las personas se tiene información básica como su nombre, fecha de nacimiento y género. Se cuenta con información sobre los trabajos que realizaron las personas en las películas. En el caso de actores y actrices, también se conoce el rol o papel que interpretaron al trabajar en la película. 
Para la mejor comprensión de la realidad representada por la base de datos, presentamos a continuación un diagrama Entidad-Relación (se omiten las restricciones no-estructurales).

![image info](./db/figMER.png)

# 2. Creación del esquema y carga de datos

Antes de poder realizar consultas vamos a crear el esquema relacional y cargar datos.
Esto lo realizaremos sobre una instancia de PostgreSQL. 

Les ofrecemos dos alternativas:
1. utilizar una instancia local
1. conectarse al servidor instalado en la FING


En el caso **local** asumimos que ya tienen instalada en su PC y se está ejecutando una instancia de PostgreSQL. [Aquí](https://www.postgresqltutorial.com/postgresql-getting-started/) podrán encontrar instrucciones sobre como instalar y configurar el ambiente en diferentes sistemas operativos.

En cualquier caso, se precisan scripts de creación y carga que se descargan a continuación.

## 2.1 Obtención de archivos

Primero vamos a usar el comando del sistema `wget` para descargar los archivos.

Si no tienen este comando disponible en su sistema descarguen los archivos usando un navegador.

## 2.2 Creación de la base de datos y carga en un servidor local

Utilizaremos el comando `psql` para crear el esquema y cargar los datos.

Primero ejecutamos el script de creación de la base.

ATENCION: ejecutar las instrucciones a continuación en una línea de comandos por fuera del notebook para habilitar el modo interactivo y poder ingresar la constraseña.

1- crear el esquema

`psql -U postgres -f movies_schema.sql`

2- cargar los datos

`psql -U postgres -f movies_data.sql movies`

3- crear restricciones

`psql -U postgres -f movies_constraints.sql movies`

# 3. Conexión a la base de datos desde el notebook

Independientemente de que instancia usemos, vamos a utilizar la biblioteca [ipython-sql](https://pypi.org/project/ipython-sql/) para ejecutar comandos en forma interactiva desde este notebook.

La celda a continuación instala esta biblioteca

In [ ]:
!pip3 install ipython-sql
!pip3 install psycopg2

 y luego cargamos el módulo

In [ ]:
%load_ext sql

Si estamos usando un servidor local usamos estre string de conexión, reemplazando PASS por la contraseña que hayan elegido para el usuario portgres al momento de la instalación

In [ ]:
#conexion local

%sql postgresql://postgres:PASS@localhost/movies

Luego hacemos esta consulta de prueba

In [ ]:
%sql SELECT * FROM movies LIMIT 10

# 4. Consultas a resolver

A continuación se plantean las consultas a resolver. Para cada una de ellas proveer una solución en lenguaje SQL. Para las consultas en SQL **no se podrán utilizar** subconsultas en el FROM, vistas, ni la cláusula WITH

En algunos casos se solicitará además discutir si es posible o no solucionar esa consulta en Álgebra Relacional o Cálculo Relacional, y de ser posible se deberá proveer una solución en el lenguaje indicado en cada caso.


## Consulta 1

Devolver el nombre y apellido de aquellas personas para las cuales no se tiene registrada fecha de fallecimiento.
Ordenar los resultados por nombre en forma ascendente, y devolver sólo los primeros 10 resultados.

In [ ]:
#SQL nombre y apellido de personas que no tienen registrada su fecha de fallecimiento

%sql


## Consulta 2

Devolver el total de películas estrenadas en 2012 y el promedio de sus presupuestos. El resultado debe tener dos columnas: una llamada `total_2012` y otra `promedio_2012`.

In [ ]:
#SQL total de películas estrenadas en 2012 y el promedio de sus presupuestos


%sql


## Consulta 3

Para cada saga, devolver su nombre y la cantidad de películas que la componen. Ordenar los resultados por cantidad de películas en forma descendiente.

In [ ]:
#SQL cantidad de películas por saga

%sql

## Consulta 4

Devolver parejas nombre de película, nombre de persona, tal que esa persona es la única que forma parte del cast de esa película. Dicho de otra manera, para aquellas películas donde una sola persona realiza todos los trabajos, devolver el nombre de la película y el nombre de la persona.

In [ ]:
# SQL parejas nombre de película, nombre de persona, tal que esa persona es la única que forma parte del cast de esa película

%sql

## Consulta 5
Para cada saga, actores que participaron en todas sus películas. Devolver parejas id de saga, id de persona.

In [ ]:
# SQL actores que participaron en todas las películas de una saga

%sql

## Consulta 6
Nombres de sagas que satisfacen que la fecha de la saga sea igual a la fecha de estreno de la película más reciente de la saga.

In [ ]:
# sagas que satisfacen que la fecha sea la fecha de la pelicula de la saga más reciente

%sql

## Consulta 7
Nombre y cantidad de películas de las sagas con las 5 mayores cantidades de películas. Ordenarlas por cantidad de películas en forma descendiente.

In [ ]:
# nombre y cantidad de películas de las sagas con las 5 mayores cantidades de películas

%sql

## Consulta 8
Películas que sólo son referenciadas por películas con las que comparten al menos un género

In [ ]:
# películas que solo son referenciadas por peliculas con las que comparten un género

%sql select